*{
    margin: 0;
    border: solid 1px black;
}

html{
    margin: 0;
    color-scheme: light dark;
    

}

h1{
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
}

#gridButton{
    margin-top: 10px;
    margin-bottom: 10px;
}

#container{
    display: flex;
    width: 740px;
    height: 740px;
    border: solid 10px black;
    justify-content: space-evenly;
    align-content: center;
    
}

.box{
    flex:1;
    width: 100%;
    
}

.row{
    display: flex;
    flex-direction: column;
    flex:1;
    align-content: center;
    height: 100%;
    align-items: center;
    
}


// --text: #071617;
--background: #f0f9fa;
--primary: #40b9c2;
--secondary: #de969c;
--accent: #cfc367;

// --font-family: 'Nunito', sans-serif;


