*{
    margin: 0;
    
}

html{
    margin: 0;
    color-scheme: light dark;
    background-color: #f0f9fa;
    border-color: black;
}

h1{
    font-family: 'Nunito', sans-serif;
    font-size: 9vh;
    background-color: #40b9c2;
    padding-left: 2vh;
}

#gridButton{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3vh;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    background-color: ;
    padding-left: 2vh;
    padding-right: 2vh;

}

#clearButton{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0vh;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: ;
}

#container{
    display: flex;
    width: 740px;
    height: 740px;
    border: solid 3px black;
    justify-content: space-evenly;
    align-content: center;
    background-color: white;
    margin-left: 3vh;
    margin-bottom: 3vh;
    
}

.box{
    flex:1;
    width: 100%;
    
    
}

.row{
    display: flex;
    flex-direction: column;
    flex:1;
    align-content: center;
    height: 100%;
    align-items: center;
    
}


// --text: #071617;
--background: #f0f9fa;
--primary: #40b9c2;
--secondary: #de969c;
--accent: #cfc367;

// --font-family: 'Nunito', sans-serif;


